<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About North Country Gaskets</h2>
                    <h3 class="section-subheading text-muted">Our purpose is to assist restaurant owners, general managers and kitchen managers with their kitchen maintenance and repairs. We help keep your commercial kitchen operating efficiently and keep your kitchen up to code with the health inspectors.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!-- <h4>2009-2011</h4> -->
                                    <h4 class="subheading">The Risks of Worn Out or Cracked Gaskets</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    <ul>
                                      <li>They no longer create an airtight seal causing for food spoilage.
                                      <li>It can lead to excessive energy costs.</li>
                                      <li>It can make your compressor motors run overtime.</li>
                                      <li>Health inspector will flag, assess fines or other penalties.</li>
                                      <li>It can cause immediate expenses.</li></li>
                                    </ul></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!-- <h4>March 2011</h4> -->
                                    <h4 class="subheading">Do I Need New Gaskets?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Here are some key indications that it may be time for a new gasket on your equipment:
                                    <ul>
                                      <li>A gasket becomes worn out or torn.</li>
                                      <li>A poor seal: gaskets rely on a magnetic seal which can show no visible signs of wear yet still not properly seal your cooler or freezer.</li>
                                    </ul></p>

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <!-- <h4>December 2012</h4> -->
                                    <h4 class="subheading">Why Choose North Country Gaskets?</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                    <ul>
                                      <li>We offer the highest quality custom made gaskets.</li>
                                      <li>We offer the most professional and responsive customer service in the area.</li>
                                      <li>We're the #1 Commercial Gasket company in Northen Minnesota.</li>
                                    </ul></p>
                                </div>
                            </div>
                        </li>
                        <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>July 2014</h4>
                                    <h4 class="subheading">Phase Two Expansion</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li> -->
                        <!-- <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Contact
                                    <br>Us
                                    <br>Today!</h4>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
